[Desktop Entry]
Type=Application
Version=1.0
Name=Griffin
GenericName=Griffin
Comment=The Scientific Python Development Environment
Icon=griffin
TryExec=griffin
Exec=griffin %F
Terminal=false
MimeType=text/x-python;
Categories=Development;Science;IDE;Qt;
Keywords=Development;Science;IDE;Qt;
StartupNotify=true
StartupWMClass=Griffin
